<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <nav th:replace="fragments :: navigation"></nav>

    <body class="container">
        <h1 th:text="${title}">Default Title</h1>



                    <ul>
                        <li th:each="cheese : ${cheeses}">
                            <span th:text="${cheese.name}"></span>
                        </li>
                    </ul>



                <p><a th:href="'/menu/add-item/' + ${menuId}">Add Cheese</a></p>

    </body>
</html>